<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>810732188640-kvf5p5ouhq98f8nkrc2orlrsbrqejp6i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810732188640-kvf5p5ouhq98f8nkrc2orlrsbrqejp6i</string>
	<key>API_KEY</key>
	<string>AIzaSyCfEE_uxbMyVuJ0EPmY1prMhpTZzhYj86A</string>
	<key>GCM_SENDER_ID</key>
	<string>810732188640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstProject</string>
	<key>PROJECT_ID</key>
	<string>first-project-6c94c</string>
	<key>STORAGE_BUCKET</key>
	<string>first-project-6c94c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810732188640:ios:9e1d64d67de8247fa3b185</string>
</dict>
</plist>